$color-illuminating-emerald: #368F8B;
$color-bdazzled-blue: #345995;
$color-tart-orange: #FB4D3D;
$color-willpower-orange: #F75C03;
$color-caribbean-green: #03CEA4;
$color-pictorial-carmine: #CA1551;
$color-onyx: #333745;
