$theme-base: $color-illuminating-emerald;
$theme-one: $color-bdazzled-blue;
$theme-two: $color-tart-orange;
$theme-three: $color-caribbean-green;
$theme-four: $color-pictorial-carmine;

$ui-text-light-opacity: 0.60;
